<header>
  <button type="button" (click)="goBack()" class="back-button"><img src="assets/left.png" alt="Privious"></button>
  <p>Add New Helper</p>
</header>
<main class="main">
    <div class="left">
      <mat-vertical-stepper [selectedIndex]="stepIndex" linear>
        <mat-step label="Helper Details">
          <p>Enter the details of the helper here...</p>
        </mat-step>

        <mat-step label="Documents">
          <p>Upload related documents here...</p>
        </mat-step>

        <mat-step label="Review">
          <p>Review and confirm your details here...</p>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div class="right">

      <ng-container *ngIf="showForm">
        <app-form (next) = "next()" [formGroup]="helperForm" [editMode]="editMode"></app-form>
      </ng-container>

      <ng-container *ngIf="showDocument">
        <app-document [documentForm]="helperForm" (nextEvent)="handleNext()"></app-document>
      </ng-container>

        <ng-container *ngIf="showReview">
            <app-review [formData]="helperForm" (previousStep)="handlePrevious()" (nextEvent)="handleNext()"></app-review>
        </ng-container>
        
        
    </div>
</main>