.main{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.left{
     width: 300px;
    height: calc(100vh - 120px);
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fdfdfd;
    border-radius: 6px;
    // overflow-y: auto;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #e0e0e0;
}
.right{
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    width: calc(100% - 320px);
    padding: 30px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-right: 20px;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;

    .back-button {
        background: none;
        border: none;
        padding: 8px;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            margin-top: 2px;
        }
    }

    p {
        margin: 0px;
        font-size: 18px;
        font-weight: 550;
        color: #333;
    }
}

.button-container {
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;

        .previous-button, .next-button {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 6px 12px;
            font-size: 14px;
            background-color: #000;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            width: auto;
            flex-shrink: 0;

            img {
                width: 10px;
                height: 10px;
                display: block;
            }

            &:hover {
                background-color: #333;
            }
            .previous-button img {
                filter: brightness(0) invert(1);
            }
        }
    }