<header>
  <button type="button" (click)="goBack()" class="back-button"><img src="assets/left.png" alt="Privious"></button>
  <p>Add New Helper</p>
</header>
<main class="main">
    <div class="left">
        
    </div>
    <div class="right">
      <ng-container *ngIf="showForm">
        <app-form (next) = "next()" [formGroup]="helperForm"></app-form>
      </ng-container>
      <ng-container *ngIf="showDocument">
        <app-document></app-document>
      </ng-container>
        <ng-container *ngIf="showReview">
            <app-review></app-review>
        </ng-container>
        <ng-container *ngIf="!showForm">
        <div class="button-container">
            <button type="button" class="previous-button" (click)="handlePrevious()">
              <img  src="assets/left.png" alt="Previous">
              Previous
            </button>
            <button type="button" class="next-button" (click)="handleNext()">
              Next
              <img src="assets/next.png" alt="Next">
            </button>
        </div>
      </ng-container>
    </div>
</main>