<div class="card-container">
  <div class="rightCard">
    <div class="left">
      <img [src]="getAvatarUrl(helper().id)" alt="this is a placeholder image" class="placeholderImage">      <div class="info">
        <h2>{{helper().name}}</h2>
        <p class="occupation">{{helper().occupation}}</p>
      </div>
    </div>
    <div class="right">
      <button class="icon-btn">
        <img src="assets/pen.png" alt="pencil">
      </button>
      <button class="icon-btn">
        <img src="assets/delete.png" alt="trash">
      </button>
    </div>
  </div>  <div class="details">
    <div class="detail-section">
      <div class="heading-with-line">
        <h3>Employee id</h3>
        <hr class="inline-divider">
      </div>
      <p class="id"><b>ID</b> {{helper().id}}</p>
    </div>
    
    <div class="detail-section">
      <div class="heading-with-line">
        <h3>Personal details</h3>
        <hr class="inline-divider">
      </div>      <p class="detail-item"><b>Gender</b> {{helper().gender}}</p>
      <p class="detail-item"><b>language</b> {{helper().language}}</p>
      <p class="detail-item"><b>Mobile</b> {{helper().mobileNo}}</p>
      <p class="detail-item"><b>Email</b> {{helper().emailId}}</p>
    </div>
    
    <div class="detail-section">
      <div class="heading-with-line">
        <h3>Service Details</h3>
        <hr class="inline-divider">
      </div>      <p class="detail-item"><b>Type</b> {{helper().type}}</p>
      <p class="detail-item"><b>Organization</b> {{helper().organization}}</p>
      <p class="detail-item"><b>Joined On</b> {{helper().joinedOn}}</p>
    </div>
  </div>
</div>
